body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.user-avatar{

}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: inherit;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

/*Gradients*/
.gradient-blue{
    background: linear-gradient(to bottom right, blue, lightblue);
    width: 100%;
    height: 400px;
}

.gradient-green{
    background: linear-gradient(to bottom right, darkolivegreen, palegreen);
    width: 100%;
    height: 400px;
}

.gradient-black{
    background: linear-gradient(to bottom right, black, white);
    width: 100%;
    height: 400px;
}

.gradient-white{
    background: linear-gradient(to top left, black, white);
    width: 100%;
    height: 400px;
}

/* Create a Parallax Effect */
.parallax {
    background: no-repeat fixed center;
    background-size: cover;
}

.big-img-greeting-1 {
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0) 10%),
        url("/static/images/webWithRainDrops.jpg");
    min-height: 80%;
    background-size: cover;
}

.big-img-greeting-small {
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0) 10%),
        url("/static/images/webWithRainDrops.jpg");
    min-height: 30%;
    background-size: cover;
}

.big-img-greeting-mini {
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0) 5%),
        url("/static/images/webWithRainDrops.jpg");
    min-height: 10%;
    background-size: cover;
}


.big-img-greeting-2 {
    background-image: url("/static/images/autumnLeaf.jpg");
    min-height: 400px;
}

.big-img-greeting-3 {
    background-image: url("/static/images/snow.jpg");
    min-height: 400px;
}

.big-img-login-1 {
    background-image: url("/static/images/cyberLock.png");
    min-height: 400px;
}

.big-img-login-2 {
    background-image: url("/static/images/cyberEarth.jpg");
    min-height: 400px;
}

.big-img-login-3 {
    background-image: url("/static/images/cyberEarth.jpg");
    min-height: 70%;
}

.big-img-welcome-1 {
    background-image: url("/static/images/welcome.jpg");
    min-height: 70%;
}

.big-img-users-1 {
    background-image: url("/static/images/linkedUsers.jpg");
    min-height: 70%;
}

.small-img-users-1 {
    background-image: url("/static/images/linkedUsers.jpg");
    min-height: 30%;
}

.big-img-projects-1 {
    background-image: url("/static/images/hibernateLogo.png");
    min-height: 70%;
}

.big-img-projects-2 {
    background-image: url("/static/images/jdbcLogo.png");
    min-height: 70%;
}

.big-img-projects-3 {
    background-image: url("/static/images/javaLogo.png");
    min-height: 70%;
}

.big-img-projects-4 {
    background-image: url("/static/images/javaLogo.png");
    min-height: 70%;
}

.big-img-smart {
    background-image: url("/static/images/smartGoals.jpg");
    min-height: 70%;
}

.big-img-ten-k-hours {
    background-image: url("/static/images/tenKHourspng.png");
    min-height: 70%;
}

.big-img-old_clock {
    background-image: url("/static/images/oldClock.jpg");
    min-height: 70%;
}

.big-img-aims {
    background-image: url("/static/images/cartoonWorld.jpg");
    min-height: 80%;
}

.big-img-10k-hours {
    background-image: url("/static/images/tenKHours.png");
    min-height: 50%;
}

.big-img-small-smart {
    background-image: url("/static/images/smarterDesc.jpg");
    min-height: 70%;
}

.big-img-goals-plans {
    background-image: url("/static/images/2020Goals.jpg");
    min-height: 50%;
}

.big-img-small-smart-2 {
    background-image: url("/static/images/smartWithImages.png");
    min-height: 70%;
}

.big-img-messages {
    background-image: url("/static/images/mobileMessaging.jpg");
    min-height: 70%;
}

.big-img-messages-small {
    background-image: url("/static/images/mobileMessaging.jpg");
    min-height: 50%;
}

.big-img-macro-raindrop {
    background-image: url("/static/images/raindrop.png");
    min-height: 80%;
}

.big-img-macro-raindrop-small {
    background-image: url("/static/images/raindrop.png");
    min-height: 50%;
}

.big-img-macro-snowflake {
    background-image: url("/static/images/snowflake.jpg");
    min-height: 70%;
}

.big-img-macro-snowflake-2 {
    background-image: url("/static/images/snowflake2.jpg");
    min-height: 50%;
}

.big-img-macro-snowflake-3 {
    background-image: url("/static/images/snowflake3.jpg");
    min-height: 50%;
}

.big-img-analytics-charts-big {
    background-image: url("/static/images/analiticsCharts2.jpg");
    min-height: 80%;
}

.big-img-analytics-charts{
    background-image: url("/static/images/analiticsCharts2.jpg");
    min-height: 50%;
}

.big-img-analytics-hologram-big {
    background-image: url("/static/images/analiticsHologram.jpg");
    min-height: 80%;
}

.big-img-analytics-hologram{
    background-image: url("/static/images/analiticsHologram.jpg");
    min-height: 50%;
}





.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: seagreen;
}

.default-margin{
    margin: 10px;
}
